h2 {
    padding-right: 300px;
}
.enjoyWork-content {
    padding-right: 60px;
}
img {
    display: inline-block;
    width: 150px;
    border-radius: 15px;
}

.img-1 {
    margin-top: 180px;
}

.img-3 {
    margin-top: 90px;
}

@media screen and (max-width: 576px) {
    h2 {
        padding-right: 0;
    }

    .enjoyWork-content {
        padding-right: 0;
    }

    img {
        border-radius: 15px;
        width: 100px;
    }

    .img-1 {
        margin-top: 90px;
    }

    .img-3 {
        margin-top: 45px;
    }
}